@use '../variables';
@use 'sass:math';

.button-filter {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white;
    border-radius: variables.$base-border-radius;
    padding: 6px 16px;
    height: 32px;
    margin-bottom: math.div(variables.$base-margin, 2);
    margin-right: math.div(variables.$base-margin, 2);

    p {
        color: variables.$black;
        font-family: variables.$base-font-family;
        font-weight: bold;
        font-size: variables.$base-font-size;
        text-transform: capitalize;
    }

    .icon {
        display: none;
    }
}

.button-filter:active {
    background-color: variables.$orange;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: variables.$base-margin * 2;
}
