// cores do tema
$white: #fff;
$deep-blue: #2D0C5E;
$mild-purple: #5C16C5;
$dark-gray: #323232;
$light-gray: #646464;
$black: #000;
$orange: #D18000;

// tamanhos de fonte
$font-size-sm: 14px;
$base-font-size: 16px;
$font-size-md: 1rem;
$font-size-lg: 2rem;

// fontes
$base-font-family: 'Roboto', sans-serif;

// espaçamento
$sm-padding: 0.25rem;
$base-padding: 0.75rem;
$base-margin: 0.75rem;
$margin-sm: 0.5rem;

// border-radius
$base-border-radius: 4px;